<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://static.invisionapp-cdn.com/spa/cfprojects/common/img/favicon-16x16.2648d8282b.png" sizes="16x16" />    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">   

    <link rel="stylesheet" href="/css/shopping-page.css">
    <script src="https://kit.fontawesome.com/117b0fb8d8.js" crossorigin="anonymous"></script>
    <title>Shopping Page</title>
</head>
<body>
    <header>
        <div id="header-content">
            <div class="other-clay-shop-logo-small">
                <img class="logo" src="/image/logo.png" alt="logo">
            </div>
            <nav >
                <ul class="menu">
                    <li class="home">Home</li>
                    <li class="shop" id="line-through">Shop</li>
                    <li class="blog">Blog</li>
                    <li class="contact">Contact</li>
                </ul>
            </nav>
            <nav class="icons">
                <img class="icons-search-icn-black" src="/image/search.png" alt="search">
                <img class="user-icn-icons-user-icn" src="/image/user.png" alt="user">
                <img class="cart-icn-icons-cart-icn" src="/image/shopping.png" alt="shopping">
            </nav>            
        </div>
    </header>
    <section id="options">
        <div id="options-content">
            <div class="inputs-dropdown-default-copy-2" id="show">
                <label class="min" for="show">Show</label>
                <select class="frame" name="show" id="show">
                  <option value="popular">Popular</option>
                </select>
            </div>

            <div class="inputs-dropdown-default-copy-2" id="price">
                <label class="min" for="price">Price</label>
                <select class="frame" name="price" id="price">
                  <option value="any">Any</option>
                </select>
            </div>

            <div class="inputs-dropdown-default-copy-2" id="brand">
                <label class="min" for="brand">Brand</label>
                <select class="frame" name="brand" id="brand">
                  <option class="min-option" value="any">Any</option>
                </select>
            </div>

            <div class="size-dropdown-controls-size-dr">
                <div class="label">
                    <label class="min" for="">Size</label>
                    <label class="min-color" for="">Size Guide</label>
                </div>
                <div class="buttons">
                    <button class="size-button-unselected-buttons">XS</button>
                    <button class="size-button-unselected-buttons">S</button>
                    <button class="size-button-unselected-buttons">M</button>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>

            <div class="color-dropdown-controls-color">
                <label class="min" for="color">Color</label>
                <div class="colors">
                    <input type="color" class="color-swatch-marco" name="color" value="#1B2437">
                    <input type="color" class="color-swatch" name="color" value="#127681">
                    <input type="color" class="color-swatch" name="color" value="#32E0C4">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>

            <div id="controls">
               <img src="/image/imagen-options.png" alt="">
            </div>
        </div>
    </section>

    <section id="carts">
        <div id="carts-content">
            <div class="cart">
                <img class="cart-img" src="/image/nuevo/1.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Women´s costume Yves Saint Laurent</p>
                    <p id="the-fedora-hat-is-re">Fashion is something we deal with everyday. Even people who say t...</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">1140</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart">
                <img class="cart-img" src="/image/nuevo/2.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Men´s black hat Gucci</p>
                    <p id="the-fedora-hat-is-re">The fedora hat is reimagined for Pre-Fall 2020 with a maxi embroidered lael de...</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">540</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart">
                <img class="cart-img" src="/image/nuevo/3.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Dress Karl Lagerefeld</p>
                    <p id="the-fedora-hat-is-re">Another masterpiece from the legendary designer. He designed new dress dev...</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">640</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="carts">
        <div id="carts-content">
            <div class="cart">
                <img class="cart-img" src="/image/nuevo/4.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Men´s black tie Valentino</p>
                    <p id="the-fedora-hat-is-re">jacquard Valentino tie with Valentino logo motif</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">225</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart">
                <img class="cart-img" src="/image/nuevo/5.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Men´s jacket Off- white</p>
                    <p id="the-fedora-hat-is-re">Off-White scuffed denin jacket. Faded effect, baggy cut, pointed collar, clasp...</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">215</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart">
                <img class="cart-img" src="/image/nuevo/6.png" alt="">
                <div class="content-cart-description">
                    <p id="womens-costume-yves">Cotton Blouse Dries van noten</p>
                    <p id="the-fedora-hat-is-re">The fedora hat is reimagined for Pre-Fall 2020 with a maxi embrodered labl de...</p>
                    <div class="description">
                        <div class="box-img-price">
                            <img class="img-description" src="/image/money.png" alt="">
                            <p class="price">180</p>
                        </div>
                        <div class="box-button">
                            <button class="button-price">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="pages">
        <div id="content-pages">
            <div class="row">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="content-numbers">
                <ul class="numbers">
                    <li class="espacio">1</li>
                    <li class="espacio">2</li>
                    <li class="espacio">3</li>
                    <li class="espacio numero-color">4</li>
                    <li class="espacio">5</li>
                    <li class="espacio">6</li>
                    <li class="espacio">7</li>
                    <li class="espacio">8</li>
                    <li class="espacio">...</li>
                    <li class="espacio">231</li>
                </ul>
            </div>
            <div class="row">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

    </section>

    <footer>
        <div id="content-footer">
            <div id="hot-links">
                <p class="title-footer">Hot links</p>
                <ul class="list-footer">
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div id="more-info">
                <p class="title-footer">More info</p>
                <ul class="list-footer">
                    <li>How it work</li>
                    <li>About us</li>
                    <li>Decline rules</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div id="customer-care">
                <p class="title-footer">Constumer care</p>
                <ul class="list-footer">
                    <li>FAQ</li>
                    <li>Terms of use</li>
                    <li>Privacy Policy</li>
                    <li>Discount system</li>
                </ul>
            </div>
            <div id="get-newsletter">
                <p class="title-footer">Get newsletter</p>
                <div id="list-fake-input">
                    <ul id="list-footer-other">
                        <li>Get updates about style</li>
                    </ul>
                    <div class="fake-input">
                        <input class="input" type="text" placeholder="Type your email">
                        <a href="/"><i class="fas fa-chevron-right"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bg">
        <div id="content-bg">
            <p id="clay-shop-all-righ">© Clay shop all righ reserved</p>
            <div id="social-network">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            </div>

        </div>
    </section>

    

</body>
</html>